#background {
    height: 100vh;
    animation: fadeOutAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#section1 {
    opacity: 0;
    animation: fadeInAnimation ease 1s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-image: url("/img/section1backgroundimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 64px;
    font-family: Zilla Slab;
    font-weight: bold;
    height: 100vh;
    padding-top: 0vh;
}