nav .navbar-nav li a{
    color: #D9B559 !important;
    font-size: medium;
}

html{
    scroll-snap-type: y mandatory;
    scroll-padding-top: 8vh;
}

body{
    font-family: Montserrat;
    padding-top: 8vh; 
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1;
     } 
} 
@keyframes fadeOutAnimation { 
    0% { 
        opacity: 1;
    } 
    99% { 
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        height: 92vh;
    }
    100% {
        height: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden; 
    } 
}

nav {
    font-family: MontserratBold;
    height: 8vh;
}

#background {
    height: 92vh;
    animation: fadeOutAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    

    
}

@font-face {
    font-family: Zilla Slab;
    font-weight: bold;
    src: url("/img/ZillaSlab-Bold.ttf");
}

@font-face {
    font-family: Zilla Slab;
    src: url("/img/ZillaSlab-Regular.ttf");
}

#section1{
    opacity: 0;
    animation: fadeInAnimation ease 1s; 
    animation-delay: 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    background-image: url("/img/section1backgroundimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 64px;
    font-family: Zilla Slab;
    font-weight: bold;
    height: 92vh;
    padding-top: 0vh;
}

.row{
    height: 92vh;
    scroll-snap-align: start;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

