#background {
    height: 100vh;
    animation: fadeOutAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#section1 {
    opacity: 0;
    animation: fadeInAnimation ease 1s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-image: url("/img/section1backgroundimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 64px;
    font-family: Zilla Slab;
    font-weight: bold;
    height: 100vh;
    padding-top: 0vh;
}

#section1card {
    text-align: center;
}

#section2Leftcard {
    font-size: calc(20px + 2vw + 2vh);
    font-family: Zilla Slab;
    padding-left: 4vh; 
}

#section2Right {
    text-align: center;
    border-left: 2px solid #6F6F6F; 
}

#section3card {
    text-align: center;
}


#instagram-feed {
    font-family: Zilla Slab;
    font-size:calc(10px + .5vw + .5vh);
    border-left: 2px solid #12447D; 
}

#section4card {
    text-align: center;
}


#calendar {
    border-right: 2px solid #12447D;
    padding-left: 5vh;
    padding-right: 5vh;
}

@media screen and (max-width: 767px) {
    #section2Right{
        border-left-width: 0px;
    }
    #calendar {
        border-right-width: 0px;
    }
    #instagram-feed {
        border-left-width: 0px;
    }
}

.location-link {
    color: #d9b559 !important;
    text-decoration: none !important;

}

.location-link:hover,.location-link:focus {
    color: #6F6F6F !important;
}

#counterCard {
    display: flex;
}

#backupCounterCard {
    display: none;
    height: 45vh;
    background-color: #d9b559;
}

@media screen and (max-width: 767px) {
    #counterCard {
        display: none;
    }

    #backupCounterCard {
        display: flex;
    }
}