<div class="row simple-row mx-3 pt-0 justify-content-center" style="height: min-content; text-align: center;font-family: Zilla Slab;font-size: 24px;">
    <div class="col-md-5 align-self-center">
        &copy; {{ site.time | date: '%Y' }} C4. Site hosted on <a href="https://github.com/C4org/C4org.github.io">GitHub.</a>
    </div>
    <div class="col-md-3 align-self-center" style="padding-right: 0px; text-align: center;">
        Social Media:
    </div>
    <a href="https://www.instagram.com/poolesvillec4/" class="fa fa-instagram"></a>
    <a href="https://www.facebook.com/Poolesville-Combating-Childhood-Cancer-Club-109611417299285/" class="fa fa-facebook"></a>
    <a href="mailto: officialc4club@gmail.com" target="_blank" rel="noopener noreferrer" class="fa fa-envelope-o"></a>

</div>