<div class="row simple_row mx-3 pt-0 justify-content-center" style="height: min-content; text-align: center;font-family: Zilla Slab;font-size: 24px;">
    <div class="col-md-6 align-self-center">
        &copy; {{ site.time | date: '%Y' }} Poolesville C4. Site hosted on <a href="https://github.com/poolesvilleC4/poolesvilleC4.github.io">GitHub.</a>
    </div>
    <div class="col-md-2 align-self-center" style="padding-right: 0px;">
        Social Media:
    </div>
    <a href="https://www.instagram.com/poolesvillec4/" class="fa fa-instagram"></a>
    <a href="https://www.facebook.com/Poolesville-Combating-Childhood-Cancer-Club-109611417299285/" class="fa fa-facebook"></a>
    <a href="poolesvillec4@gmail.com" class="fa fa-google"></a>

</div>