<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #12447D;">
    <a class="navbar-brand" href="/">
        <img src="/img/logo.png" class="d-inline-block align-top navbar-logo" alt="C4">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-fill w-100">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu" aria-labelledby="aboutDropdown">
                    <a class="dropdown-item" href="/about/club">Our Club</a>
                    <a class="dropdown-item" href="/about/leadership">Our Leadership</a>
                    <a class="dropdown-item" href="/about/board">Our Board</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="supportDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Support
                </a>
                <div class="dropdown-menu" aria-labelledby="supportDropdown">
                    <a class="dropdown-item" href="/support/">About</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="fundraisingDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Fundraising
                </a>
                <div class="dropdown-menu" aria-labelledby="fundraisingDropdown">
                    <a class="dropdown-item" href="/fundraising/">About</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>

            &nbsp;&nbsp;

        </ul>
    </div>
</nav>