<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/img/favicon.ico">

    <title>Poolesville C4</title>

    <link rel="stylesheet" href="https://fontlibrary.org/face/montserrat" type="text/css"/>
    <link href="css/cover.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    {% include topImports.html %}

</head>

<body>
<div class="site-wrapper" id="site-wrapper">
    {% include navbar.html fixed-top="fixed-top" %}
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="row justify-content-center align-middle" id="background">
                <img src="/img/logo.JPG" style="width: 50vh;"/> 
            </div>
            <div class="inner-cover">
                <div class="container">
                    <div class="row justify-content-center align-middle" id="section1">
                        <div class="col align-self-center">
                            Combatting Childhood Cancer Club
                            &nbsp;
                            circa September 2018
                        </div>
                    </div>
                </div>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    {% include footerContents.html %}
                </div>
            </div>
        </div>
    </div>

    {% include bottomImports.html %}

</div>
</body>

